@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.App {
    text-align: center;
  }

body {
  color: #32e0c4;
  background-image: url(../images/greenspace.jpg);
  font-family: 'Space Mono', monospace;
  }