$mint: #78cce2;

footer {
    background-color: #393e46;
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 10px;
    padding-bottom: 10px;

}

img {
    width: 20px;
}

.socialMedia {
    display: flex;
    justify-content: center;
    gap: 15px;
    :hover {
        filter: hue-rotate(90deg);
        transition: transform .2s;
        transform: scale(1.4);
    }
}