.intro {
  margin: 10%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.5;
  color: black;
  animation: fadeIn 3s linear;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 0.5;}
}

.replaced::after {
  content: '';
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% { content: ' a big sci fi geek'; }
  16% { content: ' an animal lover'; }
  32% { content: ' a sports fan'; }
  48% { content: ' a huge sitcom nerd'; }
  64% { content: ' a metalhead'; }
  80% { content: ' an avid reader';}
  100% { content: ' a big sci fi geek'; }
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }