$mint: #78cce2;

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #393e46;
    color: $mint;
  }
  
.nav-links {
    //transform: translate (-50%, -50%);
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
    background: none;
    border: 2px transparent solid;
    margin: 10px;
    transition: all .5s ease;
    //looking to rid the before section
        :before {
            transform: translateX(-50%);
            border: 2px transparent solid;
            position: absolute;
            left: 50%;
            top: 0px;
            box-sizing: border-box;
            width: 120px;
            height: 50px;
            transition: all .7s ease;
         }
      :hover {
        background-color: transparent;
        border: 1px $mint solid;
        border-radius: 20px;
        width: 100px;
        height: 30px;
        right: -40px;
        top: 10px;
        transition: all .7s ease;
        
      }
      :visited {
        color: $mint;
      }  
    }

button:focus {
    outline: none;
    opacity: .2;
}