@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.App {
    text-align: center;
  }
  
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #222831;
    color: #32e0c4;
  }
  
.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
      :visited {
        color: #32e0c4;
      }
      :hover {
        background-color: transparent;
        border: 1px #32e0c4 solid;
        //transform: translateX(10%);
        box-sizing: border-box;
        width: 120px;
        //height: 50px;
        transition: all .7s ease;
      }
        ::before {
          border-radius: 30px;
          border: 1px #32e0c4 solid;
        }
  }
  
li {
    border: 1px solid transparent;
    box-sizing: border-box;
    width: 120px;
  }

body {
  color: #32e0c4;
  background-image: url(./images/greenspace.jpg);
  font-family: 'Space Mono', monospace;
  }


.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }